.tarjetas-container {
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
}

.gif-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px; /* Espacio entre el GIF y el contenido */
}

.gif-image {
  width: 70%; /* Ajusta el ancho según sea necesario */
  max-width: 600px; /* Ancho máximo para el GIF */
  height: auto; /* Mantiene la relación de aspecto */
}

.title {
  color: #fff;
  text-align: left; /* Alinear el título a la izquierda */
  margin-bottom: 10px; /* Espacio entre el título y el acordeón */
}

.accordion-item {
  background-color: #222; /* Fondo del acordeón */
  border: none; /* Sin borde */
  margin-bottom: 10px; /* Espacio entre los items */
}

.accordion-header {
  background-color: #333; /* Fondo del encabezado del acordeón */
}

.accordion-button {
  background-color: #333; /* Fondo del botón del acordeón */
  color: white; /* Color del texto */
  border: none; /* Sin borde */
  border-radius: 10px; /* Bordes redondeados */
}

.accordion-button:hover {
  background-color: #f69f14; /* Color al pasar el mouse */
}

.accordion-body {
  background-color: #222; /* Fondo del cuerpo del acordeón */
  border: none; /* Sin borde */
  color:#fff;
}

.loading-text {
  text-align: center; /* Centrar el texto de carga */
  color: #ff5900; /* Color del texto de carga */
  font-size: 1.5rem; /* Tamaño de fuente */
}