/* Estilos globales */
body {
  font-family: "Public Sans", "Noto Sans", sans-serif;
  margin: 0;
  background-color: #181112;
  height: 100%;
}

.size-full {
  width: 100%;
  height: 100%;
}

.min-h-screen {
  min-height: 100vh;
}

.overflow-x-hidden {
  overflow-x: hidden;
}

/* Contenedor principal de la aplicación */
.layout-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  flex-grow: 1;
}

/* Contenido principal */
.layout-content-container {
  display: flex;
  flex-direction: column;
  max-width: 960px;
  flex-grow: 1;
  margin: 50px 0;
  padding: 50px 260px;
}

h1, h2 {
  color: white;
  text-align: center;
}

h1 {
  font-size: 2.25rem;
  font-weight: 300;
  letter-spacing: -0.033em;
  margin-top: 20px;
}

h2 {
  font-size: 0.875rem;
}

button {
  display: flex;
  min-width: 84px;
  max-width: 480px;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  height: 40px;
  padding: 0 16px;
  background-color: #db143c;
  color: white;
  font-size: 0.875rem;
  font-weight: 700;
  cursor: pointer;
}
